@import url('https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css');
body {
  margin: 0;
  padding: 0;
}

canvas {
  border-radius: 25px;
  width: 25vw;
  height: 25vh;
  display: block;
  margin-left: 0%;
}

#canvas3 {
  border-radius: 25px;
  width: 50vw;
  height: 70vh;
  display: block;
  margin-left: 0%;
  background-image: url('utils/magicpattern-am-yg8wLLIo-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#customCARD{
  display: block;
  border: 15px solid grey;
  width: 27vw;
  border-radius: 15px;
  background-color: grey;
}

backgroundCanvas, canvas {
  background-image: url('utils/milad-fakurian-PpgY7sjpf_0-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  border: none;
  pointer-events: none;
}