body {
    display: flex;
    justify-content: center;
    background-color: #22223b;
}

canvas {
    width: 95vh;
    height: 95vh;
    border: 2px solid #f2e9e4;
    margin-left: 5px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #9a8c98;
    border: 2px solid #f2e9e4;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
  }
  
  .count {
    font-size: 60px;
    font-weight: bold;
    color: #333;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
  }

  .quadrado {
    width: 110px;
    height: 250px;
    background-color: #9a8c98;
    border: 2px solid #f2e9e4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
  }

  .wrapper{
    display:flex;
    flex-direction: column;
}